@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; -ms-overflow-style: none; }

@tailwind utilities;

body{
    background-color: black;
}
html, body {
  overflow-x: hidden;
  background-color: black;
}
.swiper-button-next,
.swiper-button-prev {
  color: #FCED08 !important;
  transform: scale(1.2); 
}

.number-label {
  position: absolute;
  top: 3rem;
  left: -0.6rem;
  font-size: 6rem;
  font-weight: 900;
  color: black; 
  z-index: 10;
  line-height: 1;
  -webkit-text-stroke: 2px white; 
  text-stroke: 2px white;        
  pointer-events: none;
}
